*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after{
  box-sizing: border-box;
}

*::before{
  box-sizing: border-box;
}
body{
  font-family: Helvetica, sans-serif;
  color: #333;
}
ol,ul{
  list-style: none;
}
a{
  color: inherit;
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.noCollapse::before{
  content: '';
  display: table;
}
.noCollapse::after{
  content: "";
  display: table;
}

.line-clamp1{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.line-clamp2{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.line-clamp3{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}