@keyframes circle {
  0% {
    transform: rotate(0deg) 
  }
  100% {
    transform: rotate(360deg) 
  }
}


.song-wrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.song-background{
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: 50%;
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  transform: scale(1.5);
  transform-origin: center top;
  transition: opacity .3s linear;
  z-index: -1;
}

.song-background::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0, .5);
}

/* disc-container */

.disc-container {
  z-index: 1;
}

.disc-container .pointer {
  width: 2.56rem;
  height: 3.653333rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-15%);
  z-index: 2;
}

.disc-container .disc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.866666rem;
  position: relative;
}

.disc-container .disc .disc-cover {
  width: 4.906666rem;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-top: -2.453333rem;
  margin-left: -2.453333rem;
  animation: circle 20s infinite linear;
  animation-play-state: paused;
}
.disc-container .disc .disc-turn {
  width: 7.893333rem;
  height: 7.893333rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -3.946666rem;
  margin-left: -3.946666rem;
  animation: circle 20s infinite linear;
  animation-play-state: paused;  
}

.disc-container .disc .disc-base {
  width: 7.893333rem;
  height: 7.893333rem;
}

.disc-container .disc .play-button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.disc-container .disc .play-button .icon-play{
  display: block;
  width: 1.493333rem;
  height: 1.493333rem;
  fill: #fff;
  background: rgba(0,0,0,0.4);
  border: 1px solid #fff;
  border-radius: 50%;
}
.disc-container .disc .play-button .icon-pause{
  display: none;
  width: 1.493333rem;
  height: 1.493333rem;
  fill: #fff;
  background: rgba(0,0,0,0.4);
  border: 1px solid #fff;
  border-radius: 50%;
  padding: .266666rem;
}

.disc-container .disc.active .disc-turn,
.disc-container .disc.active .disc-cover {
  animation-play-state: running;
}


/* song-description */

.song-description {
  text-align: center;
  flex-grow: 1;
  /* margin-top: .56rem; */
  margin-top: .4rem;
  z-index: 1;
}

.song-description .song-title {
  font-size: .48rem;
  color: #fefefe;
}
.song-description .song-title .line{
  margin: 0 .106666rem;
}
.song-description .song-title .singer{
  color: #c3c3c3;
  font-size: .426666rem;
}

.song-description .lyric {
  /* margin-top: .346666rem; */
  margin-top: .29rem;
  height: 2.56rem;
  overflow: hidden;
}
.song-description .lyric .words{
  transition: all 0.3s;
}
.song-description .lyric .words.no-lyric{
  font-size: .533333rem;
}
.song-description .lyric .words p {
  line-height: .64rem;
  padding-bottom: .213333rem;
  color: #bfbebd;
  font-size: .426666rem;
}
.song-description .lyric .words p.addTlyric{
  height: 1.28rem;
  font-size: .48rem;
  line-height: .533333rem;
  padding-bottom: .266666rem;
}
.song-description .lyric .words p.active {
  color: #fff;
}
.song-description .lyric .words span.tlyric{
  font-size: .426666rem;
  line-height: .533333rem;
  display: block;
}


/* links */

.song-wrap .links {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  z-index: 1;
  /* margin: .533333rem 0; */
  margin-bottom: .5rem;
}

.song-wrap .links a {
  width: 3.733333rem;
  border: 1px solid #cd3431;
  border-radius: .106666rem;
  margin: 0 .16rem;
  text-decoration: none;
  color: #cd3431;
  font-size: .48rem;
  /* line-height: 1.066666rem; */
  line-height: 0.98rem;
  letter-spacing: .133333rem;
  display: inline-block;
}



.song-wrap .links a.main {
  background: #d43b32;
  color: #fff;
}